In [6]:
import pandas as pd

In [36]:
league_2018_ml = pd.read_csv('csv/nhl.2018/neural_model2018.csv')
league_2018_ml.head()

,Team,Name,Conference,Division,Season End,Season Type,Cumulative Games,Points,Corsi Close,Fenwick Close,...,B Agnst Down 1,B% Tied,B For Tied,B Agnst Tied,B% Up 1,B For Up 1,B Agnst Up 1,B% Up 2,B For Up 2,B Agnst Up 2
0,ANA,Ducks,Western,Pacific,2018,Regular,82,101,48.13,48.35,...,150,47.36,332,369,40.99,166,239,42.04,95,131
1,ARI,Coyotes,Western,Pacific,2018,Regular,82,70,47.95,46.63,...,181,53.68,445,384,45.52,193,231,45.38,54,65
2,BOS,Bruins,Eastern,Atlantic,2018,Regular,82,112,52.29,52.30,...,119,52.17,373,342,45.45,170,204,48.46,63,67
3,BUF,Sabres,Eastern,Atlantic,2018,Regular,82,62,47.33,47.26,...,166,43.34,254,332,37.36,99,166,34.09,30,58
4,CAR,Hurricanes,Eastern,Metropolitan,2018,Regular,82,83,55.09,54.23,...,130,57.51,471,348,51.58,196,184,49.01,74,77

### apply one-hot encoding

In [18]:
data  = league_2018_ml.values
Team = data[:,0]
Name = data[:,1]
Conference = data[:,2]
Division = data[:,3 ]
SeasonType = data[:,5]

In [20]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [27]:
label_encoder.fit(Team)
encoded_team = label_encoder.transform(Team)

In [28]:
label_encoder.fit(Name)
encoded_name = label_encoder.transform(Name)

In [29]:
label_encoder.fit(Conference)
encoded_conference = label_encoder.transform(Conference)

In [30]:
label_encoder.fit(Division)
encoded_division = label_encoder.transform(Division)

In [31]:
label_encoder.fit(SeasonType)
encoded_season = label_encoder.transform(SeasonType)

In [32]:
concatenate = {'Team': encoded_team,
               'Name': encoded_name,
               'Conference': encoded_conference,
               'Division': encoded_division,
               'SeasonType': encoded_season,
               }

encoding_df = pd.DataFrame(data = concatenate)

In [34]:
encoding_df.head()

   Conference  Division  Name  SeasonType  Team
0           1         3    10           0     0
1           1         3     8           0     1
2           0         0     4           0     2
3           0         0    26           0     3
4           0         2    14           0     4

In [35]:
# encoding_df.to_csv('csv/encoded_2018.csv', index = False)

### Neural Network

In [39]:
encoded_ml = pd.read_csv('csv/nhl.2018/nhl.encoded_2018.csv')
encoded_ml.head()

,Conference,Division,Name,SeasonType,Team,Season End,Cumulative Games,Points,Corsi Close,Fenwick Close,...,B Agnst Down 1,B% Tied,B For Tied,B Agnst Tied,B% Up 1,B For Up 1,B Agnst Up 1,B% Up 2,B For Up 2,B Agnst Up 2
0,1,3,10,0,0,2018,82,101,48.13,48.35,...,150,47.36,332,369,40.99,166,239,42.04,95,131
1,1,3,8,0,1,2018,82,70,47.95,46.63,...,181,53.68,445,384,45.52,193,231,45.38,54,65
2,0,0,4,0,2,2018,82,112,52.29,52.30,...,119,52.17,373,342,45.45,170,204,48.46,63,67
3,0,0,26,0,3,2018,82,62,47.33,47.26,...,166,43.34,254,332,37.36,99,166,34.09,30,58
4,0,2,14,0,4,2018,82,83,55.09,54.23,...,130,57.51,471,348,51.58,196,184,49.01,74,77